html {
    margin-left: 5%;
    margin-right: 5%;
}

body {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: space;
    background-attachment: fixed;
}

.card-text-center {
    margin-top: 10px;
    width: 60%;
}

.card-img-top {
    width: 330px;
    height: 200px;
}

.card-col {
    margin-top: 10px;
    width: 350px;
    height: 610px;
}